{% extends 'navbar.html' %}

{% block head %}
<header>
    <title>Bokeh plots</title>
</header>
{% endblock %}

{% block body %}
    <a href="{% url 'bokeh_plots:model_form_upload' %}">
    <button class="btn btn-primary">
        Upload Bokeh plot
    </button>
    </a>
    <p>Uploaded files:</p>
    <ul>
    {% for obj in bokeh_plots %}
        <p>
            <a href="{% url 'bokeh_plots:bokeh_plot' id=obj.id%}">{{ obj.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
        </p>
    {% endfor %}
    </ul>
{% endblock %}
